@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './transitions.pcss';

/* purgecss start ignore */
html, body {
  scroll-behavior: smooth;
}
/* purgecss end ignore */
